@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  

  
  color: rgba(255, 255, 255, 0.87);
  background-color: #000000;
  overflow-x: hidden;
  
  
}
*{
  margin: 0px;
  padding: 0px;
}


#root {
  min-width: 100vw;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  overflow-x: hidden;

  
}
 
html, body {
  display: flex;
  display: flex;
  width: 100vw;
  min-height: 100vh;
}